//Mediaqueries etc
#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // @media screen and (max-width: 1200px){
    //    padding-bottom: 10%;
    // }
}

.article-search-group{
    width: 1084px;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1{
        text-decoration: underline;
        font-weight: bold;

        // @media screen and (max-width: 1200px){
            // margin-left: 45px;
        // }
    }
    // @media (max-width: 1024px){
    //     margin-bottom: 10%;
    // }
}

.add-article-search{
    width: 50%;
    display: flex;
    justify-content: space-between;
    & a{
        text-decoration: none;
        color: $black;
    }
    // @media screen and (max-width: 1200px){
    //     margin-right: 30px;
    // }

}

.add-article{
    display: flex;
    & > p{
        margin-right: 3px;
        font-weight: bold;
    }
}

.shadow-box-square{
    margin: 0 auto;
    width: 1084px;
    height: 601px;

    // @media screen and (max-width: 1200px){
    //     width: 1025px;
    //     height: 467px;
    //     margin-left: 26px;
    // }
}

.name-column{
    margin-top: 25px;
    width: 780px;
    display: flex;
    justify-content: space-around;

    // @media screen and (max-width: 1200px){
    //     margin-top: 7px;
    // }
}

.container-flexbox{
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    // @media screen and (max-width: 1200px){
    //     //align-items: stretch;
    //     height: 100px;
    // }
}

@media screen and (max-width: 1200px){

    #content{
        padding-bottom: 10%;
    }

    .article-search-group h1{
        margin-left: 45px;
    }

    .add-article-search a{
        margin-right: 30px;
    }

    .shadow-box-square{
        width: 1025px;
        height: 467px;
        margin-left: 26px;
        margin-right: 26px;
    }

    .name-column{
        margin-top: 7px;
    }

    .container-flexbox{
        height: 100px;
    }
 }

