* {margin: 0; padding: 0;}

body{
    font-size:1.4vw;
 }

@media screen and (max-width:575px) {
	body{ font-size: 12px; }
}

@media screen and (max-width:992px) {
	body{ 
        font-size: 12px;
        h1{
            font-size: 20px;
        }
        h2{
            font-size: 24px;
        }
        
    }
}

@media screen and (max-width:1200px) {
	body{ 
        font-size: 23px;
        h1{
            font-size: 20px;
        }
        h2{
            font-size: 24px;
        }
        #avancement{
            display: flex;
            .progress{
                height: 50%;
            }
        }
    }
}

@media screen and (min-width:1200px) and  (max-width:1600px){
	body{ 
        font-size: 23px;
        h1{
            font-size: 20px;
        }
        h2{
            font-size: 24px;
        }
        
        #avancement{
            display: flex;
            .progress{
                height: 50%;
                
            }
        }
    }
}

@media screen and (min-width:1600px) {
	body{ 
        font-size: 16px;
        h1{
            font-size: 20px;
        }
        h2{
            font-size: 18px;
        }
        #avancement{
            display: flex;
            flex-direction: row;
            .progress{
                width: 70%;
                height: 100%;
                
            }
            .percent{
                height: 100%;
                margin-left: 5%;
                
            }
        }
    }
}


#content{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    
    #main-content{
        font-family: 'Roboto', sans-serif;
        margin-top: 50px;
        margin-bottom: 50px;
        width: 70%;
        height: 100%;
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: 25% 30% 40%;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        box-sizing: border-box;
    
        .one{
            grid-column: 1;
            grid-row: 1;
            display: flex;
            justify-content: flex-start;
            align-items:center;
            flex-direction: row; 

            .projet-dashboard{
                margin-left: 15px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                height: 100%;
                .title-project{
                    margin-bottom: 5px;
                    h1{
                        font-family: 'Fredoka One', cursive;
                        font-size: 13px;
                        font-weight: normal;
                        letter-spacing: 1px;
                    }
                }
                .subtitle{
                    margin-bottom: 15px;
                    font-size: 11px;
                    color: #3062E6;
                    font-weight: 700;
                }
                .text{
                
                    margin-left: 20px;
                    width: 100%;
                    height: 100%;
                    letter-spacing: 1px;
                    font-size: 11px;
                    display: flex;
                    flex-direction: row;  
                    justify-content: flex-start;
                    align-items: center;
                    box-sizing: border-box;
                    .text-un{
                        width: 30%;
                        margin-left: 20px;
                        height: 80%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .text-deux{
                        
                        width: 30%;
                        height: 80%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    .vl {
                        margin-left: 20px;
                        margin-right: 20px;
                        border-left: 1px solid rgb(210, 208, 214);
                        height: 80%;
                    }
                }
            }

    
            

            .preview{
                border:none;
                width: 90px;
                height: auto;
                border-radius: 10px;
                img{
                    border:none;
                    width: 100%;
                    height: 100%;

                }
                
            }
        }
        .two{
            background-color: white;
            grid-column: 1;
            grid-row: 2;
            display: flex;
            justify-content: center;
            align-items:center;
            box-sizing: border-box;
            border-radius: 8px;
            padding: 30px 20px 30px 20px;
            #text{
                width: 100%;
                height: 100%;
                letter-spacing: 1px;
                display: flex;
                flex-direction: column;
                box-sizing: border-box;
                .top-box-two{
                    width: 100%;
                    height: 30%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin-bottom: 15px;
                    font-size: 11px;
                    .hr-style{
                        display: flex;
                        width: 100%;
                        justify-content: center;
                        margin-top: 5px;
                        margin-bottom: 5px;
                        .hr-complete{
                            width: 100%;
                            margin-top: 5px;
                            margin-bottom: 5px;
                            height: 3px;
                            border-color: #444953;
                        }
                    }
                    .text-top-box{
                        h1{
                            font-family: 'Fredoka One', cursive;
                            font-size: 13px;
                        }
                    }
                    #avancement{
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-end;
                        align-items: center;
                        height: 100%;
                        width: 40%;
                        .avancement-text{
                            width: 50%;
                        }
                        .progress{
                            width: 70%;
                            height: 4px;
                            
                        }
                    }
                }
                .bottom-box-two{
                    height: 80%;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    display: flex;
                    flex-direction: row;
                    
                    .bottom-box-two-list{
                        width: 70%;
                        font-size: 11px;
                        .taches{
                            display: flex;
                            flex-direction: row;
                            height: 10%;
                            margin: 3px;
                            padding: 12px;
                            border-width: 1px;
                            border-style: solid;
                            border-color: #d8e0e6e1;
                            border-radius: 5px;
                            text-decoration:none;
                            color: black;

                            &:hover{
                                background-color: #eef3ff;
                                border-color: #c1daff;
                            }
                            
                            .image-tache{
                                width: 7%;
                                height: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: flex-start;
                                img{
                                    height: 20px;
                                    width: 20px;
                                }
                                
                            }
                            .texte-tache{
                                display: flex;
                                width: 90%;
                                align-items: center;
                                justify-content: flex-start;
                                .text-tache-here{
                                    width:100%;
                                    height: 100%;
                                    text-align: center;
                                    vertical-align: middle;
                                    display: flex;
                                    align-items: center;
                                    justify-content: flex-start;
                                    
                                }
                                .no{
                                    color: #b1afb0;
                                }
                            }
                        }
                    }
                    .bottom-box-two-number{
                        width: 90px;
                        height: 90px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-style: solid;
                        border-width: 3px;
                        border-color: #00bf30;
                        border-radius: 50%;
                        font-weight: 700;
                        margin-left: 40px;
                        margin-top: 15px;
                        
                    }
                }
                
            }
    
            
    
        }
        .three{
            background-color: #EBEFF3;
            width: 100%;
            height: 100%;
            grid-column: 2;
            grid-row: 1 / 4;
            display: flex;
            justify-content: center;
            align-items:center;
            box-sizing: border-box;
            border-radius: 11px;
            padding: 20px;
            #text{
                width: 100%;
                height: 100%;
                border-radius: 11px;
                letter-spacing: 1px;
                padding: 25px 20px;
                background-color: white;
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                box-sizing: border-box;
                font-size: 11px;

                .tree-type{
                    margin-top: 15px;
                    margin-bottom: 15px;
                    .tree-title{
                        margin-top: 15px;
                        margin-bottom: 15px;
                        font-family: 'Fredoka One', cursive;
                        font-size: 11px;
                    }
                    .tree-total{
                        margin-top: 15px;
                        margin-bottom: 15px;    
                    }
                    .tree-last{
                        margin-top: 15px;
                        margin-bottom: 15px;
                    }
                    .tree-author{
                        margin-top: 15px;
                        margin-bottom: 15px;
                    }
                    .tree-date{
                        margin-top: 15px;
                        margin-bottom: 15px;
                    }
                    .tree-see{
                        margin-top: 15px;
                        margin-bottom: 15px;
                    }
                }
                

                h1{
                    margin-bottom: 5%;
                    font-family: 'Fredoka One', cursive;
                    font-size: 13px;
                }
            }
        }
        .four{
            background-color: white;
            width: 100%;
            grid-column: 1;
            grid-row: 3;
            display: flex;
            justify-content: flex-start;
            align-items:flex-start;
            font-size: 11px;
            border-radius: 11px;
            padding: 30px;
            width: 100%;
            
            #text{
                width: 100%;
                height: 100%;
                letter-spacing: 1px;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                box-sizing: border-box;

                .four-title{
                    margin-top: 15px;
                    margin-bottom: 15px;

                    
                    
                    h1{
                        font-family: 'Fredoka One', cursive;
                        font-size: 13px;
                        font-size: 13px;
                    }
                }

                .four-question{
                    margin-top: 20px;
                    margin-bottom: 15px;

                    h2{
                        font-weight: normal;
                        font-family: 'Fredoka One', cursive;
                        font-size: 11px;
                    }
                }

                .four-answer{
                    margin-top: 11px;
                    margin-bottom: 15px;

                    p{
                        font-style: oblique;
                    }
                }


                

            }
            .box-link{
                display: flex;
                justify-content: flex-end;
                width: 100%;
                height: 10%;
                .link-faq{
                    background-color: #AA4DC8;
                    cursor: pointer;
                    
                    font-weight: normal;
                    font-family: 'Fredoka One', cursive;
                    font-size: 11px;
                    
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 150px;
                    border-radius: 30px;
                    a{
                        color: white;
                        text-decoration: none;
                    }
                }
            }
            
        }
    }
}


