.affichage-page{
    background-color: white;
    height: 75vh;
    padding: 5px;
    box-shadow: 2px 2px 2px gray,
    -1px -1px 2px #F5F5F5;
    overflow: auto;

    >p{
        font-size: 14px;
    }
} 

.trumbowyg-editor,
.trumbowyg-textarea{
    background-color: white;
    // height: 75vh;
    // min-height: 80vh;
}

.trumbowyg-box .trumbowyg-editor{
    min-height: 75vh;
    margin: 0 auto;
    // width: 75vw;
    // width: 50%;
}

.trumbowyg-button-pane{
    width: 100%;
}