body{
	margin: 0;
	font-family: $roboto;
	background-color: $theme-grey;
}


h1,h2{
	font-family: $roboto;
}

h1{
	font-size: rem(24);
}

h2{
	font-size: rem(16);
}

label{
	font-size: rem(12);
}

#content{
	width: 90%;
}







