*{
	box-sizing: border-box;
}

body{
	margin: 0;
	font-family: $roboto;
	background-color: #F0F4F7;
}


h1,h2{
	font-family: $roboto;
}

h1{
	font-size: rem(24);
}

h2{
	font-size: rem(16);
}

p{
	line-height: 1.4em;
}

.container{
	max-width: 1140px;
	margin: auto;
	& > section{
		padding: 20px 0;
	}
}