#list-profile{
    display: flex;
    flex-direction: column;
    height: 100%;
    color: #ffff;
    padding: 0;
}

.menu-profile{
    font-size: 17px;
    letter-spacing: 1px;
    margin-top: 15%;
    margin-bottom: 20%;
    &:hover{
        color: #328DAA;
        cursor: pointer;
    }
    
}


#content-profile{
    width:85%;
}

.title_profile{
    padding: 10px 10px 10px 20px;
    //top: 0px; left: 0px;
}

.presentation{
    display:block;
    float:left;
    width:150px;
    }

.form-group-profile{
    padding: 10px 50px 10px 20px !important;
    margin-bottom: 30px;
}

  
#col {
    column-count: 2;
}

.presentation{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-top: 20px;
}

.container-description{
    width: 33%;
}

.container-img{
    width: 45%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.name{
    display: flex;
    flex-direction: column;
}

.description{
    display: flex;
    flex-direction: column;
}

.center{
    margin: 10px 10px 0 10px;
}

.input-profile{
    background: $theme-light-blue;
    border: 1px solid $black;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    outline: none;
    margin-top: 5px;
    height: 35px;
    width: 90%;
    padding: 10px 12px;
    &::placeholder{
        font-family: Roboto;
        font-style: italic;
        font-weight: 300;
        font-size: 0,75em;
        line-height: 19px;
        color: $grey;
    }
}

.line{
    border-bottom: 1px solid $gray;
    margin-top: 15px;
    width: 45%;
}

.button-profile{
    background: $link-color-hover;
    border: 1px solid #000000;
    border-radius: 8px;
    border-style: none;
    width: 150px;
    height: 45px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFF;
    outline: none;
    cursor: pointer;
    margin: 20px 10px 0 10px;
    &:hover{
        background:lighten($link-color-hover, 10%);
    }
    
}

.textarea-profile{
    background: $theme-light-blue;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    width: 90%;
    height: 125px;
    border: 1px solid $black;
    margin-top: 5px;
    outline: none;
    padding: 10px 12px;
    &::placeholder{
        font-family: Roboto;
        font-style: italic;
        font-weight: 300;
        font-size: 0,75em;
        line-height: 19px;
        color: $grey;
    }
} 

.link-back-profile {
    color: $white;
    text-decoration: none;
    &:hover{
        color: $dark-blue;
    }
}

.avatar{
    margin-top: 20px;
    width: 100%;
}