.logo {
   padding: 15px 0 !important;
   display: flex;
   align-items: center;
}

.logo img{
    width: 70%;
    height: 40%;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.shadow-box-square-registration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 40px  !important; 
    margin-bottom: 10px;    
    box-shadow: 0px 4px 4px rgba(50, 141, 170, 0.4);
    background-color: white;
    border-radius: 11px;  
   
}

.checkbox-label {
    font-family: Roboto, sans-serif;
    padding-left: 5px;
    font-weight: 100;
    font-style: italic ;
}

.form-group-btn{
    display: flex;
    align-items: center;
}
.button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 40px;
    margin-top: 10px;
}

.error{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #eab3b7;
    width: 30%;
    padding: 5px 10px 5px 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}


/* -----------------
    RESPONSIVE
-------------------*/
 
// Small Screen
@media only screen and (max-width: $mobile-width){
    .error {
        width: 50%;
    }

    .shadow-box-square{
        padding: 20px 30px  !important;
    }

    
}
