.button{
	border-style: none;
	width: 203px;
	height: 53px;
	background: $purple;
	border-radius: 10px;
	font-family: $roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: $white;
	outline: none;
	cursor: pointer;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
	background-image: url("../../../img/add.png");
	&:hover{
		background-color: lighten($purple, 6%);
	}
}

