
#nav-left{
    background-color: $theme-dark-grey;
    height: 100%;
}

main{
    display: flex;
    justify-content: space-between;
}

#liste{
    display: flex;
    flex-direction: column;
    height: 95vh;
    color: #ffff;
}

.menu{
    display: flex;
    //font-weight: bolder;
    font-size: 17px;
    letter-spacing: 1px;
    margin: 2px;
    height: 100vh;
    &:hover{
        color: #328DAA;
        cursor: pointer;
    }
    
}

.container-flexbox-nav{ 
    display: flex;
    justify-content: space-around;
    align-items: center;
}