#nav-left-front{
    background-color: #131720;
    height: 100%;
    width: 15%;
    overflow: scroll;
    margin-top: 50px;
}

.separateur-tpl{
    width: 90%;
}

.titre-menu-tpl{
    color: white;
    margin-left: 7px;
    margin-top: 15px;
    font-size: 20px;
}

.buttons-tpl{
    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
}

#imgInp{
    color: white;
    margin-left: 10px;
    height: 30px;
    margin-top: 15px;
}

.text-dragAndDrop{
    color: white;
    font-size: 14px;
    margin-left: 10px;
}

.container-upload-img{
    display: flex;
    align-items: center;
}
