/* Progress Bar */

.progress {
    background: #DAEFFE;
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 2px;
    display: flex;
    height: 22px;
    width: 226px;
    border-color: rgba(50, 141, 170, 0.7);
    border-style: solid;
    border-width: 1px;
  }
  
  .progress-value {
    animation: load 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 20px;
  
    background: rgba(170, 77, 200, 0.5);
    height: 17px;
    width: 0;
  }

  @keyframes load {
    0% { width: 0; }
    100% { width: 50%; }
  }
  