/* Progress Bar */
$percent:70%;


.progress {
    background: #DFE5EB;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    border-radius: 100px;
  }
  
  .progress-value {
    animation: load 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 20px;
  
    background: #00bf30;
    height: 100%;
    width: 0;
  }
  