/* Search box */

.search-box{
    display: flex;
    align-items: center;
  }
  .search-box input{
    background-color: $theme-light-blue;
    border-radius: 11px;
    border-color: $dark-blue;
    border-width: 1px;
    color: $dark-blue;
    // width:679px;
  }
  ::placeholder{
    color: $dark-blue;
    left: 20px;
  }
  
  input[type="text"]::placeholder{
    padding-left: 10px;
  }