.shadow-box-square{
    background-color: white;
    border-radius: 11px;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 40px  !important; 
    margin-bottom: 10px;
}
