.shadow-box-square{
    width: 500px;
    height: 348px;
    background-color: $white;
    border: 1px solid rgba(205, 104, 237, 0.2);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
    box-sizing: border-box;
    border-radius: 10px;
    
}

