*{
	box-sizing: border-box;
}

body{
  margin: 0;
}

header{
  background-color: #FFFFFF;
  position: fixed;
  height: 50px !important;
  width: 100%;
  box-shadow: 0 4px 2px -2px rgb(207, 218, 221);
}

#nav-top{
  height: 50px !important;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  
  .nav-top-left{
    width: 11.5%;
    .logo {
      bottom: 0;
      width: 100%;
      height: 4px;
    
    }
  }
  #nav-top-right{
    display: flex;
    align-items: center;
  }
  
}



.link-nav-bar{
	color: $black;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	&:hover{
		color: $dark-blue;
	}
	a:hover{
		color: $dark-blue;
	}
	
	a{
		display: flex;
		justify-content: center;
		align-items: center;
		img{
			width: 19px;
			height: 18px;
			margin-right: 9px;
			margin-bottom: 3px;
		}
	}

}





#profile_id{
  img{
    margin-left: 10px;
  }
}


