*{
	box-sizing: border-box;
}

body{
  margin: 0;
}

header{
  background-color: $theme-grey;
  border: 1px solid $theme_purple;
  filter: drop-shadow(0px 4px 4px $shadow-blocks);
}

#nav-top-left{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px !important;
}

#nav-top-right{
  display: flex;
  align-items: center;
}

.link-nav-bar{
  display: flex;
  align-items: center;
	justify-content: center;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	&:hover{
		color: $dark-blue;
	}
	a:hover{
		color: $dark-blue;
	}
	
	a{
		display: flex;
		justify-content: center;
		align-items: center;
		img{
			width: 19px;
			height: 18px;
			margin-right: 9px;
			margin-bottom: 3px;
		}
	}

}


.logo:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: $logo-blue;
  height: 4px;

}


#profile_id{
  img{
    margin-left: 10px;
  }
}


