*{
	box-sizing: border-box;
}

body{
  margin: 0;
}

header{
  
  background-color: $theme-grey;
  border: 1px solid $theme_purple;
  filter: drop-shadow(0px 4px 4px $shadow-blocks);
  box-sizing: border-box;
  display: flex;
  font-style: normal;
  font-size: 20px;
  width: 100%;
  height: 67px;
  justify-content: space-between;
}

#nav-top-left{
  margin-left: 20px;
  display: flex;
  justify-content: flex-start;
  width: 30%;
  height: 67px;
  justify-content: space-between;
  // background-color: red;
  // background-image: url("../../../img/home.png");
}

#nav-top-right{
  display: flex;
  justify-content: flex-end;
  width: 10%;
  height: 67px;
}

.link-nav-bar{
  display: flex;
  width:150px;
  height: 67px;
  align-items: center;
  margin-left: 9px;
	justify-content: center;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	&:hover{
		color: $dark-blue;
	}
	&:before{
		content: "";
	  position: absolute;
	  z-index: -1;
	  left: 51%;
	  right: 51%;
	  bottom: 0;
	  background: $dark-blue;
	  height: 4px;
	  -webkit-transition-property: left, right;
	  transition-property: left, right;
	  -webkit-transition-duration: 0.3s;
	  transition-duration: 0.3s;
	  -webkit-transition-timing-function: ease-out;
	  transition-timing-function: ease-out;
	}
	&:hover:before, &focus:before, &active:before{
		left: 0;
	  right: 0;
	}
	img{
		width: 19px;
		height: 18px;
		margin-right: 9px;
		&:hover{
			transition: all 2s;
		  transform: rotate(1080deg);
		}
	}
}


.user {
  display: flex;
  font-size: 20px;
  width:150px;
  height: 67px;
  align-items: center;
  margin-right: 15px;
	img{
		width: 19px;
	  height: 18px;
	  margin-left: 15px;
	}
}

/* Grow */
.logo {
  justify-content: center;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.logo:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: $logo-blue;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.logo:hover:before, .logo:focus:before, .logo:active:before {
  left: 0;
  right: 0;
}